

body {
	
	background-image: url(img/back.jpg);
	background-position: center center;      
	background-repeat: no-repeat;      
	background-attachment: fixed;      
	background-size: cover;
	font-size: 14px;
	
		
}

::selection {
  background-color: #126B81;
}




.container {
  display: grid;
  grid-template-columns: 57% 43%;
  grid-template-rows: auto;
  grid-template-areas:
  'a b';
   height: 90vh;
	

}



.block1 {
	
	
	grid-areas: a;
		
	/*background-color: red;*/
	opacity: 0.8;
	margin: 20px;
	margin-right: 30px;

	
}



.block2 {
	
	
	grid-areas: b;
	
	background-image: url(img/1212.png);     
	background-size: cover;
	margin: 20px;
	margin-left: 30px;
	
	
}




.superli {
	
	
	
	
	
	
}

















.item-grid {
	
	
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 7% 93%;
	height: 95vh;
	gap: 5px;

	
}


.item-div1 {
	
	margin: 0.3rem;
	/*background-color: green;*/
	grid-column: 1 / -1;
	padding: 0.3rem;

}



.item-div2 {
	
	
	margin: 10px;
    background-color: white;
	border-width:1.4px;
    border-color: black;
    border-style: solid;
	grid-column: 1 / -1;
	grid-row: 2 / -1;
	overflow-y: scroll;
	text-align: justify;
	
	

}



.item-div2::-webkit-scrollbar {
   

    width: 2px;
	
}

.item-div2::-webkit-scrollbar-thumb {
	
    background-color: #126B81;

}




.ppp {
	
	padding: 10px 20px 20px 20px;
	font-size: 1.5rem;
	font-family: "Trebuchet MS";
	text-indent: 20px;
	
	
}


h1 {
	
	padding: 20px 20px 0px 20px;
	font-family: "Trebuchet MS";
	
	
	
}


h1:before {
  content: url(img/icon1.jpg);
  padding: 15px;
}




.hidden {
	
	display: none;
	
}


ul {
  list-style: none;
  margin: 0; 
  padding-left: 0; 

}


li {
	
	display: inline-block;
	margin: 0 10px;

	
}



a {
	
	text-decoration: none; 
	color: black;
	text-decoration: line-through;
	text-decoration-thickness: 1px;
	font-family: "Trebuchet MS";
	font-size: 1.8rem;
	

}


a:visited {
    color: black; 
   }
   
a:hover {
	
	
	text-decoration: line-through;
	text-decoration-thickness: 10px;
	
	
}
   
   
a:active {
    color: black; 
   }
   
   
   
   
   
   
   
a.superli {
	
	text-decoration: none; 
	color: black;
	text-decoration: line-through;
	text-decoration-thickness: 1px;
	font-family: "Trebuchet MS";
	font-size: 220px;
	

}


a:visited {
    color: black; 
   }
   
a:hover {
	
	
	text-decoration: line-through;
	text-decoration-thickness: 10px;
	
	
}
   
   
a:active {
    color: black; 
   }










@media only screen and (max-width: 1000px) {
	
	
	
	
	

.container {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: auto;
  grid-template-areas:
  'a b';
   height: 90vh;
	

}



.block1 {
	
	
	grid-areas: a;
		
	/*background-color: red;*/
	opacity: 0.8;
	margin: 20px;
	margin-right: 30px;

	
}




.block2 {
	
	
	grid-areas: b;
	
	background-image: url(img/1212.png);     
	background-size: cover;
	margin: 20px;
	margin-left: 30px;
	
	
}



	
}





/*
@media only screen and (max-width: 800px) {
	
	
	


.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
  'a';
   height: 95vh;
	

}



.block1 {
	
	
	grid-areas: a;
		

	opacity: 0.8;
	margin: 20px;
	margin-right: 30px;

	
}


	
	
	}
	

*/